/* Estilos generales */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #e5e5e5;
}

/* Estilos para el contenedor principal */
.home-container {
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

/* Estilos para el contenedor de botones */
.button-container {
  display: flex;
  flex-direction: column; /* Botones apilados verticalmente */
}

/* Estilos para los botones */
.custom-button {
  background-color: #007bff;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  margin-bottom: 10px; /* Espacio entre los botones */
}

.custom-button:hover {
  background-color: #0056b3;
}

/* Estilos para el formulario de agregar producto */
form {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  padding: 30px;
  border: 2px solid #ccc;
  background-color: #f5f5f5;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

label {
  display: block;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
}

/* Estilos para los campos de entrada */
input[type="text"],
input[type="number"],
textarea {
  width: 100%;
  padding: 12px;
  border: 2px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box;
  margin-bottom: 30px;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

/* Estilos para el botón de enviar en el formulario */
button[type="submit"] {
  background-color: #007bff;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  float: right;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

/* Estilos para productos */
.product-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 3% 3% 3% 3%;
}

.product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f4f4f4;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.products {
  width: 100%; /*para que ocupe todo el ancho cada producto */
}

.product-name {
  font-weight: bold;
  font-size: 18px;
  color: #333;
}

.product-detail {
  margin-right: 20px;
  font-size: 16px;
}

/* Estilos para ocultar el scroll vertical cuando se carga */
.hide-scroll-bar::-webkit-scrollbar {
  width: 0;
}

/* Estilo para el botón de borrar */
.delete-button {
  background-color: #ff4136; /* Color de fondo rojo */
  color: white; /* Texto en color blanco */
  padding: 5px 10px; /* Espaciado interno */
  border: none; /* Sin borde */
  border-radius: 5px; /* Borde redondeado */
  cursor: pointer; /* Cursor de tipo puntero al pasar el mouse */
}

/* Estilo para el botón de borrar al pasar el mouse */
.delete-button:hover {
  background-color: #e50000; /* Color de fondo rojo más oscuro al pasar el mouse */
}

/* Estilo para el botón de editar */
.edit-button {
  background-color: #007bff; /* Color de fondo azul */
  color: white; /* Texto en color blanco */
  padding: 5px 10px; /* Espaciado interno */
  border: none; /* Sin borde */
  border-radius: 5px; /* Borde redondeado */
  cursor: pointer; /* Cursor de tipo puntero al pasar el mouse */
  margin-left: 10px; /* Espacio entre el botón de borrar y editar */
}

/* Estilo para el botón de editar al pasar el mouse */
.edit-button:hover {
  background-color: #0056b3; /* Color de fondo azul más oscuro al pasar el mouse */
}

/* Estilo para el modal */
.custom-modal {
  width: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  padding: 20px;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 15px;
}

/* Estilo para el fondo del modal */
.custom-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

/* Estilo para centrar el botón */
.centered-button {
  text-align: center;
}

/* Estilo para el botón de "Guardar Cambios" */
.save-button {
  padding: 10px 20px; /* Tamaño personalizado para el botón */
  background-color: #007bff; /* Color de fondo personalizado */
  color: #fff; /* Color de texto personalizado */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.save-button:hover {
  background-color: #0056b3; /* Cambia el color de fondo al pasar el mouse */
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #007bff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
